.main-container {
    height: 100%;
    width: 100%;
    background-color: blue;
}

.book-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    background-color: green;
}

.book {
    background-color: azure;
    height: 300px;
    width: 400px;
}

