.main-container {
    height: 100%;
    width: 100%;
}

.book-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: rgb(82, 59, 59);
}

.book {
    background-color: rgb(158, 167, 184);
    height: 300px;
    width: 350px;
    margin: 20px;
}

.book-info {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    height: 20%;
}

