.main-container {
    height: 100%;
    width: 100%;
    background-color: rgb(177, 244, 252)
}

.book-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.book {
    background-color: rgb(57, 84, 97);
    height: 300px;
    width: 270px;
    margin: 20px;
    border-radius: 20px;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.book:hover {
    box-shadow: 5px 5px 2rem;
}

.book-info {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: white;
/*     border-bottom: 1px solid;
 */    width: 100%;
}

.read-button {
    height: 40px;
    width: 200px;
    margin: 10px;
    border-radius: 20px;
    border: none;
    color: rgb(1, 3, 7);
    font-size: 24px;
    font-weight: 700;
    font-family: 'IM Fell English SC', serif;
}

.read-button:hover {
    box-shadow: 5px 5px;
    border: 3px solid;
}
.book-info, #delete-book-button {
    height: 60px;
}

.remove-button {
    height: 40px;
    width: 200px;
    margin: 10px;
    border-radius: 20px;
    border: none;
    background-color: white;
    color: rgb(1, 3, 7);
    font-size: 24px;
    font-weight: 700;
    font-family: 'IM Fell English SC', serif;
}

.remove-button:hover {
    box-shadow: 5px 5px;
    border: 3px solid;
}
