.main-container {
    height: 100%;
    width: 100%;
    background-color: blue;
}

.book-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: green;
}

.book {
    background-color: azure;
    height: 300px;
    width: 350px;
    margin: 20px;
}

