.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 20px;
}

.footer-container * {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;

}

.copyright {
    height: 22px
}

.mhjarvis {
    border-right: 2px solid black;
    border-left: 2px solid black;
    padding: 0 10px;
    height: 22px;
    color: black;
}

.mhjarvis:hover {
    color: rgb(109, 109, 111);
    font-weight: 600;
}

.mhjarvis-link {
    text-decoration:none;
}

.github{
    height: 24px
}