/************ Container ************/

.heading-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/************ Wrapper ************/
.heading-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/************ Title ************/
.title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    font-size: 44px;
    font-weight: 700;
    padding: 0 20px 0 20px;
    border-right: 2px solid black;
    
}

/************ Add/Remove Buttons ************/
.control-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}

.control-buttons>button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    height: 36px;
    width: 36px;
    font-size: 32px;
    background-color: white;
    border: 1px solid black;
    box-shadow: 4px 4px 10px;
    border-radius: 50%;

}

.control-buttons>button:hover {
    background-color: rgb(197, 197, 197);
}

/************ Login Section ************/
.login-section {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.login-section>a {
    text-decoration: none;
    color: black;
}

.login-section>a:hover {
    transform: scale(1.2);
}

.login-section>a>p {
    margin: 0 20px;
    font-size: 20px;    
}