/************ Container ************/

.heading-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/************ Wrapper ************/
.heading-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

/************ Title ************/
.title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    font-size: 44px;
    font-weight: 700;
    padding: 0 20px 0 20px;
    border-right: 2px solid black;
    
}

/************ Add/Remove Buttons ************/
.control-buttons {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.control-buttons>button {
    margin-right: 20px;
    height: 36px;
    width: 36px;
}

/************ Login Section ************/
.login-section {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.login-section>p {
    margin: 0 20px;
    font-size: 20px;
}