@import url(./css/reset.css);
@import url(./css/header.css);
@import url(./css/body.css);
@import url(./css/footer.css);
@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');


body {
    font-family: 'Baskervville', serif;
}

.container {
    display: grid;
    grid-template: 50px 10fr 25px / 1fr;
    height: 100vh;
    width: auto;
}