@import url(./css/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');


.body {
    font-family: 'Baskervville', serif;
}

.container {
    display: grid;
    grid-template: 1fr 3fr 1fr / 1fr;
    height: 100vh;
    width: auto;
}

/* HEADER */
.heading-container {
    background-color: blue;
}

/* MAIN CONTAINER */
.main-container {
    background-color: red;
}

/* FOOTER CONTAINER */
.footer-container {
    background-color: yellow;
}